.Order {
    height: 100%;
    margin-top: 25px;

    h1 {
        color: #352d2d;
        font-size: 28px;
        margin-bottom: 25px;
        padding: 0px 0px 0px 20px;
    }

    .Order--Items {
        min-height: 45%;
        padding-left: 20px;
    }

    .No--Items {
        color: #757575;
        font-weight: 500;
    }

    .Order--Item {
        display: flex;
        margin-bottom: 25px;

        img {
            width: 100px;
            border-radius: 15px;
        }

        .Order--Item--Details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;

            p {
                font-weight: 600;
            }

            select {
                font-size: 14px;
                font-weight: 600;
                width: 55px;
                height: 28px;
                border: 2px solid #1fa743;
                margin-top: 5px;
                border-radius: 8px;

                &:focus {
                    outline: none;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .Order--Item--Price {
            display: flex;
            align-items: center;
            margin: 0px 30px 0px auto;

            p {
                font-size: 18px;
                font-weight: 500;

                span {
                    font-size: 14px;
                    color: #1fa743;
                }
            }
        }

        .Order--Item--Delete {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #352d2d;

            svg {
                width: 16px;
                height: 16px;

                &:hover {
                    cursor: pointer;
                }
            }

            margin-right: 15px;
        }
    }

    .Divider {
        background-color: #cfcfcf;
        width: 100%;
        height: 1px;
        margin-bottom: 20px;
    }

    .Order--Details {
        .Order--Details--Info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding-left: 20px;

            &:last-child {
                margin: 0;
            }

            div {
                background-color: #c8f0d2;
                color: #1fa743;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 8px;
            }

            span {
                color: #352d2d;
                font-size: 14px;
                font-weight: 600;
                margin-left: 10px;
            }
        }

        .Order--Details--Price {
            display: flex;
            align-items: center;
            margin-top: 20px;

            h1 {
                font-size: 22px;
                font-weight: 600;
                margin: 0;
            }

            p {
                color: #352d2d;
                font-size: 24px;
                font-weight: 700;
                margin: 0px 15px 0px auto;

                span {
                    color: #1fa743;
                    font-size: 18px;
                }
            }
        }

        .Order--Details--Checkout {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            button {
                background-color: white;
                font-size: 16px;
                font-weight: 500;
                padding: 15px 80px;
                border-radius: 12px;
            }

            button:not([disabled]) {
                color: #1fa743;
                border: 2px solid #1fa743;
                &:hover {
                    background-color: #1a8f39;
                    color: white;
                    border: 2px solid #1a8f39;
                    cursor: pointer;
                }
            }
            
            button:disabled {
                color: #757575;
                border: 2px solid #757575;
                cursor: default;
            }
        }
    }
}
