nav {
    display: flex;
    .Brand {
        color: #1fa743;
        font-weight: 600;
        font-size: 28px;
    }
    .Search--Container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .Search {
            background-color: #ebebeb;
            display: flex;
            align-items: center;
            width: 375px;
            height: 45px;
            color: #352d2d;
            font-size: 16px;
            border: 2px solid #ebebeb;
            border-radius: 12px;
            padding-left: 15px;

            &:focus {
                outline: none;
                border: 2px solid #1fa743;
            }
        }

        .Search--Icon {
            position: absolute;
            padding: 12px 15px 0px 0px;
            color: #6f6d6d;

            &:hover {
                color: #352d2d;
                cursor: pointer;
            }
        }
    }
}
